#forward-button, #back-button {
  /* margin-top: 7px !important; */
  margin-top: 8px !important;
}
#forward-button[disabled="true"] {
  opacity: 0 !important;
  /*
  margin-left: -22px !important;
  opacity: 0 !important;
  transform: scale(0.8, 0.8) !important;
  pointer-events: none !important;
  */
}
#back-button[disabled="true"] {
  opacity: 0 !important;
  /*
  margin-left: -26px !important;
  opacity: 0 !important;
  transform: scale(0.8, 0.8) !important;
  pointer-events: none !important;
  */
}
:root:not([customizing]) #unified-extensions-button:not(:hover, [open], [attention]) {
  opacity: 0 !important;
}
/*
#unified-extensions-button {
  display: none !important;
}
*/
#library-button {
  display: none !important;
}
#urlbar-input::placeholder {
  color: transparent;
} /* empty search bar */
#nav-bar-overflow-button {
  display: none !important;
} /* >> button */
#tracking-protection-icon-container {
  /* tracing protection button */
  display: none !important;
}
#identity-box {
  display: none !important;
}
#urlbar:not([focused]) {
  opacity: 0;
}
#urlbar-results {
  display: none;
}
/* disable new tab firefox favicon */
.tabbrowser-tab[label="New Tab"] .tab-icon-image {
  display: none !important;
}
.tabbrowser-tab[label="New Private Tab"] .tab-icon-image {
  display: none !important;
}
/* set tab max height */
#tab-background {	max-height: 32px !important;}
:root {	--tab-min-height: 32px !important;
	--tab-max-height: 32px !important;}
